.container {
  min-height: 100svh;
  background: var(--custom-bg-blue-2);
  background: radial-gradient(
    circle at 12% 300px in hsl,
    var(--custom-bg-blue-2),
    var(--custom-bg-blue-4)
  );
}

.grid {
  padding: 4rem 0;
}

.sideSection {
  padding: 0 2rem;
  position: sticky;
  top: 5rem;
}
