.container {
  min-height: 33rem;
  background: var(--custom-green-bg);
  background: radial-gradient(
    at 22% -20px,
    var(--custom-green-bg),
    var(--custom-blue-0)
  );
  position: relative;
  padding: 0 12%;
  flex-wrap: nowrap;

  @mixin smaller-than 1630px {
    padding: 0 4%;
  }

  @mixin smaller-than 1366px {
    padding: 0;
  }
}
