html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --custom-yellow: #ffe245;
  --custom-bg-blue-0: #0e518f;
  --custom-bg-blue-1: #0b3e70;
  --custom-bg-blue-2: #0a3561;
  --custom-bg-blue-3: #051d33;
  --custom-bg-blue-4: #001a33;
  --custom-blue-0: #005cb8;
  --custom-blue-1: #00478f;
  --custom-blue-2: #003d7a;
  --custom-blue-3: #082949;
  --custom-green-bright: #18ff6d;
  --custom-green-dark: #138a36;
  --custom-green-bg: #26d968;
  --chart-line-green: #18ff6d;
  --chart-line-yellow: #ffe554;
  --chart-line-blue: #26e2ff;
  --chart-bar-green: #00cc52b3;
  --chart-bar-yellow: #bda311b3;
  --chart-bar-blue: #08b2ccb3;

  --chart-green: #18ff6d;
  --chart-yellow: #ffe554;
  --chart-blue: #26e2ff;
  --chart-metric: #e87823;
  --chart-metric-bright: #fc9c53;

  --chart-text-color: #fff;
}
