.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--custom-yellow);
}

.chartBackground {
  min-height: 20rem;
  background: #0b3e70b3;
  background: linear-gradient(180deg, #0b3e7066 0%, #0b3e7033 100%);
  padding: 1rem;
  padding-top: 2.5rem;
  font-family: "Amiko", "Arial", sans-serif;

  tspan {
    fill: #fff;
    user-select: none;
  }
}
